*.pdf
*.zip
*.pptx
*.ppt
*.doc
*.docx
*.json
*.csv
models/*
_pycache_/*
src/__pycache__/*
!TextGrocery-master.zip
lhl/productOrcounter/*
*.svm
lhl/wordSelector/*
wjc/productOrcounter/*
wjc/*.svm
productOrcounter/*